@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --dark-blue: #0a3871;
  --light-blue: #f3f5fc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: var(--dark-blue);
}

body {
  background-color: var(--light-blue);
  color: var(--dark-blue);
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100vw;
  height: 100vh;
  padding: 2rem 2rem;

}

.logo {
  width: 4vw;
  text-align: center;
  height: auto;
  margin-right: auto;
}

.input {
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
  width: 50vw;
}

#input-text {
  margin-top: 3rem;
  background: none;
  height: 100%;
  position: relative;
  border: none;
  resize: none;
  outline: none;
  font-size: 1.5rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-top: 1rem;
}

#btn-enc {
  width: 45%;
  height: 3rem;
  border-radius: 15px;
  border: none;
  color: white;
  background-color: var(--dark-blue);
}

#btn-enc:active {
  background: none;
  border: 1px solid var(--dark-blue);
  color: var(--dark-blue);
}

#btn-dec {
  width: 45%;
  height: 3rem;
  border-radius: 15px;
  border: 1px solid var(--dark-blue);
  box-shadow: none;
  background: none;
}

#btn-dec:active {
  background: var(--dark-blue);
  color: var(--light-blue);
}

.output {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  width: 20vw;
  box-shadow: 5px 5px 20px black;
  border-radius: 20px;
  padding: 0 1rem;
  background-color: white;
}

.output img {
  width: 80%;

}

.post-msg {
  display: none;
  flex-direction: column;
  padding: 1.5rem 1rem;
  width: 100%;
  height: 100%;
}

#msg {
  height: 90%;
  resize: none;
  border: none;
}

#btn-copy {
  background: none;
  width: 100%;
  height: 3rem;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 1rem;
  border: 1px solid var(--dark-blue);
}

#btn-copy:active {
  background-color: var(--dark-blue);
  color: white;
}

@media screen and (max-width: 810px) {
  .wrapper {
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .input {
    width: 100%;
    height: 60%;
  }

  .output {
    width: 100%;
    height: 18%;
  }

  .output img {
    display: none;
  }

  .post-msg {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 430px) {
  .buttons {
    gap: 1rem;
  }

  #btn-enc {
    width: 90%;
  }

  #btn-dec {
    width: 90%;
  }
}